{% extends "base.html"%}
{% load static %}
{% block content %} 
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-7">
				<!-- Billing Details -->
				<div class="billing-details">
					<div class="section-title">
						<h3 class="title">Add a product</h3>
					</div>
					<form method="post" action="/addedproduct">
						{% csrf_token %}
						<div class="form-group">
							<input class="input" type="text" name="nameproduct" placeholder="Product Name" value="{{form.nameproduct}}">
						</div>
						<div class="form-group">
							<input class="input" type="text" name="priceproduct" placeholder="Price" value="{{form.priceproduct}}">
						</div>
	
						<div class="form-group">
							<input class="image" type="file" name="imageproduct" placeholder="image" value="{{form.imageproduct}}"> 
						</div>
	
						<div class="form-group">
							<input class="input" type="text" name="categoryproduct" placeholder="category" value="{{form.categoryproduct}}">
						</div>
	
						<div class="form-group">
							<input class="input" type="text" name="statusproduct" placeholder="status" value="{{form.statusproduct}}">
						</div>
	
						<div class="form-group">
							<input type="submit" placeholder="submit product">
						</div>
					</form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "partial/newsletter.html" %}
{% endblock %}