{% extends "base.html"%}

{% load static %}
{% block content%}
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="/">Home</a></li>
                    <li><a href="/categories">All Categories</a></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
                {% if products|length == 0 %}
                <!-- SECTION -->
                <div class="section">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">
                            <h3 class="title">No available Products, please search something else</h3>
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /container -->
                </div>
                <!-- /SECTION -->
                {% endif %}

                <!-- store products -->
                <!-- product -->
                {% if products|length > 0 %}
                {% for product in products %}
                <div class="col-md-4 col-xs-6" style="margin-bottom: 45px;">
                    <div class="product">
                        <div class="product-img">
                            <img src="http://tista-stockapi.egs/Image/{{product.id}}" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">{{product.category.name}}</p>
                            <h3 class="product-name"><a href="{% url 'item' product.id %}" id="page_product">{{product.name}}</a></h3>
                            <h4 class="product-price">{{product.price}}</h4>
                        </div>
                        <div class="add-to-cart">
                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                <!-- /product -->

                <!-- /store products -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
{% include "partial/newsletter.html" %}
{% endblock %}